:root {
  --fontfamily-primary: 'Open Sans', sans-serif;
  --fontfamily-heading: 'STIX Two Text', serif;
}

html {
  scroll-behavior: smooth;
}
/* styling the body */
body {
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--fontfamily-primary);
  font-size: 1.5rem;
  overflow-x: hidden;

}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

.nav-toggle {
  display: none;
}

.main-nav {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 50%;
  gap: 4rem;
  letter-spacing: 0.2rem;
}

/* styling the <h> tags */
h1,
h2,
h3,
h4 {
  font-family: var(--fontfamily-heading);
  font-weight: 700;
}
h1 {
  font-size: 5rem;
  letter-spacing: .6rem;
  padding: 2rem;
}
h2 {
  font-size: 2.5rem;
  /* color: rgb(45, 33, 97);
  text-decoration: underline; */
}
h3 {
  font-size: 2rem;
  color: #041e3a;
}
h4 {
  font-size: 1.5rem;
  color: #11457e;
  text-decoration: underline;
  margin-bottom: 2rem;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

.info {
  margin: 2rem;
}

.text-center {
  text-align: center;
  
}
/* .main-nav[data-visible='false'] {
 
  transition: all 500ms ease-in-out;
} */

/* styling the links */
a:link {
  color: rgb(226, 202, 202);
  text-decoration: none;
}
/* applying a background when you hover on links.
a:hover {

  /* background-color: rgb(245, 240, 240); */

a:visited {
  color: rgb(226, 218, 218);
}
.hero {
  height: 70vh;
  background: rgb(4,9,25);
  background: linear-gradient(163deg, rgba(4,9,25,.7) 0%, rgba(39,43,65,.9) 40%, rgba(48,49,55,.9) 70%, rgba(4,9,25,.7) 100%);
}

@media (max-width: 50em) {
  .main-nav {
    width: 70%;
  }
  h1 {
    font-size: 4rem;
    letter-spacing: .25rem;
    padding: 1rem;
  }
}

@media (max-width: 35em) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: .1rem;
    padding: 1rem;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100vw;
    align-items: center;
    margin-bottom: 0;
    gap: 2rem;
    transform: translateX(-100%);
    transition: transform 350ms ease-in;
  }

  .nav-item {
    visibility: inherit;
    opacity: inherit;
    position: relative;

  }

  .main-nav.toggled {
    background-color: rgb(199, 188, 188);
    opacity: 1;
    top: 4rem;
    display: flex;
    visibility: visible;
    z-index: 2;
    transform: translateX(0%);
    transition: transform 350ms ease-in;
  }

  .nav-toggle {
    display: block;
    position: absolute;
    background: url('./images/bars-solid.svg');
    z-index: 99;
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    border: 0;
  }
  #nav-div {
    display: flex;
    height: 4rem;
  }
  .nav-toggle.active {
    background: url('./images/x-solid.svg');
    background-repeat: no-repeat;
  }

  @keyframes navListFade {
    from{
      opacity: 0;
      transform: translateX(-50%)
    }to{
      opacity: 1;
      transform: translateX(0%)
    }
    
  }
}
